<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/sns/sns.css" />
    <link rel="stylesheet" href="../css/sns/sns_upload.css" />
    <script src="../js/map/API_main.js"></script>
    <title>여행발자국</title>
  </head>
  <body>
    <header>
      <img src="../image/logo_footprint.png" alt="" />
      <div class="cyy_ham_container">
        <input type="checkbox" id="cyy_ham_trigger" />
        <label for="cyy_ham_trigger">
          <span></span>
          <span></span>
          <span></span>
        </label>
        <nav class="cyy_nav">
          <a id="logout" data-link="로그아웃"></a>
          <a id="mypage" data-link="마이페이지"></a>
          <a id="login" data-link="로그인"></a>
          <a id="profile" data-link="개발자 소개"></a>
          <a id="home" data-link="HOME"></a>
        </nav>
      </div>
    </header>
    <section>
      <article class="API_nav_container">
        <ul>
          <li class="API_nav_item">전체</li>
          <li class="API_nav_item">축제</li>
          <li class="API_nav_item">관광지</li>
          <li class="API_nav_item">식당</li>
          <li class="API_nav_item">글쓰기</li>
        </ul>
      </article>
      <article class="sns_container">
        <div class="API_map" id="sns_api_map" width="580px">
          <script
            type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=37962b2a8c893984a4d2139de5dc0061"
          ></script>
        </div>
        <div class="sns_contents">
          <div class="upload_header_box">글쓰기</div>
          <form id="upload_form">
            <div id="upload_img_container">
              <label id="upload_img"
                ><img src="../image/img_book_none.png" alt=""
              /></label>
              <input
                type="file"
                class="real-upload"
                accept="image/*"
                required
                multiple
              />
            </div>
            <div id="upload_title">
              <label>title</label>
              <input type="text" id="password" name="password" />
            </div>
            <div id="upload_contents">
              <label>contents</label>
              <textarea
                name=""
                id=""
                cols="1"
                rows="2"
                maxlength="55"
              ></textarea>
            </div>
            <div id="upload_btn_container">
              <button type="button" id="upload_btn">UPLOAD</button>
            </div>
          </form>
        </div>
      </article>
    </section>
    <footer>
      <p>CopyRight &copy; dbsdudsw@icloud.com</p>
    </footer>

    <script src="../data/marker_data.txt" type="text/javascript"></script>
    <script src="../js/map/API_map.js"></script>
    <script src="../js/map.js"></script>
  </body>
</html>
