section::-webkit-scrollbar {
  display: none;
}
section {
  display: inline-block;
  overflow: auto;
  z-index: 0;
}
article {
  position: inherit;
  height: 100%;
  width: 100%;
  display: inline-block;
  text-align: center;
}
.main_first_section {
  margin-bottom: 10rem;
}
.main_intro {
  font-size: 30px;
  font-weight: bold;
  margin: 12em auto;
}
.main_to_map img {
  margin-top: 1rem;
  width: 60px;
  cursor: pointer;
}
.main_map_img {
  width: 100%;
}
.main_map_img img {
  width: 800px;
  margin: 0.7em auto;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
